<p><%= alert %></p>

<%= form_with(url: reservations_create_path(@screening), data: {seats: @seats }) do |form| %>
  <%= form.hidden_field :date, value: @date %>

  <div class="field">
    <%= form.label :name, "Nombre", class: "new-movie-label" %>
    <%= form.text_field :name,class: "new-movie-input" %>
  </div>

  <% (1..48).each do |key| %>
    <%= form.check_box :seats, { multiple: true, disabled: @unavailable_seats.include?(key), style: 'display:none' }, key, nil %>
  <% end %>

  <div class=cinema-seats>
    <p> Pantalla </p>
    <% (1..48).each do |key| %>
      <div class="box" id=<%=key%>>
        <span><%= get_seat_label(key) %></span>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit "Reservar" %>
  </div>
<% end %>

<%= javascript_pack_tag 'reservation' %>
