<%= form_with(model: screening, data: {seats: 3 }) do |form| %>
  <% (1..48).each do |key| %>
    <%= puts key == 2 %>
    <%= form.check_box :matine, { multiple: true, checked: [1,2,3,4,5,6,7].include?(key) }, key, nil %>
  <% end %>

  <div class=cinema-seats>
    <% (1..48).each do |key| %>
      <div class="box" id=<%=key%>></div>
    <% end %>
  </div>
 <% Reservation.all.map { |r| r.seat_number } %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'reservation' %>
