<%= form_with url: movies_create_path, class: "movies-new-form" do |form| %>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :name, "Nombre", class: "new-movie-label" %>
        <%= form.text_field :name,class: "new-movie-input" %>
      </div>
      <div class="field">
        <%= form.label :img, 'Url de la imagen', class: "new-movie-label" %>
        <%= form.text_field :img, class: "new-movie-input" %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :first_day, "Primer día", class: "new-movie-label" %>
        <%= form.date_field :first_day, min: Date.today,class: "new-movie-input" %>
      </div>

      <div class="field">
        <%= form.label :last_day, "Último día", class: "new-movie-label" %>
        <%= form.date_field :last_day, min: Date.today,class: "new-movie-input" %>
      </div>
    </div>
  </div>

  <div class="row-rooms">
    <div class="col-rooms">
      <h3>Matine</h3>
      <% Room::ROOMS.each do |key| %>
        <%= form.check_box :matine, { multiple: true }, key, nil %>
        <%= form.label key%>
        <br>
      <% end %>
    </div>

    <div class="col-rooms">
      <h3>Tanda</h3>
      <% Room::ROOMS.each do |key| %>
        <%= form.check_box :tanda, { multiple: true }, key, nil %>
        <%= form.label key%>
        <br>
      <% end %>
    </div>
    <div class="col-rooms">
      <h3>Noche</h3>
      <% Room::ROOMS.each do |key| %>
        <%= form.check_box :noche, { multiple: true }, key, nil %>
        <%= form.label key%>
        <br>
      <% end %>
    </div>
  </div>

  <div class="movies-actions">
    <%= form.submit "Agregar" %>
  </div>
<% end %>
