<% provide(:header, "Películas") %>


<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<%= form_with url: root_path, class: "movies-date-form" do |form| %>
  <div>
    <div class="field">
    <%= form.label :first_day, class: "date-movie-label" %>
    <%= form.date_field :first_day, value: Date.today, min: Date.today,class: "date-movie-input" %>
    </div>
  </div>
  <div class="movies-actions">
    <%= form.submit %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screening.each do |screen| %>
      <tr>
        <td><%= screen.movie.name %></td>
        <td><%= link_to 'Show', movie_show_path(screen.movie.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Películas</h1>

<%= link_to 'New Movie', movies_new_path %>
