<% provide(:header, "Movies") %>


<p id="notice"><%= notice %></p>

<%= link_to "Add Movie", movies_new_path, class: "add-movie-btn" %>

<%= form_with(url: search_movies_path) do |form| %>
  <div class="field">
    <%= form.label :date, 'Fecha', class: "new-movie-label" %>
    <%= form.date_field :date, min: Date.today, value: @date, class: "new-movie-input" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h1>Movies</h1>

<div class="movies-list">
<% @movies.each do |movie| %>
  <%= link_to select_screening_path(movie, date: @date), class: "movie-card" do%>
    <img src=<%= movie.img %> alt=<%= movie.name %> width="240" height="300"> 
    <h2><%= movie.name %></h2>
    <h3>Horarios</h3>
    <p><span>Matine: </span>
      <% movie.screenings.filter{|s| s.schedule == 0}.each_with_index do |s,i| %>
        <%= (i + 1) < movie.screenings.filter{|s| s.schedule == 0}.length ? "SALA #{s.room_id}, " : "SALA #{s.room_id}" %>
      <% end %>
    </p>
    <p><span>Tanda: </span>
      <% movie.screenings.filter{|s| s.schedule == 1}.each_with_index do |s,i| %>
        <%= (i + 1) < movie.screenings.filter{|s| s.schedule == 1}.length ? "SALA #{s.room_id}, " : "SALA #{s.room_id}" %>
      <% end %>
    </p>
    <p><span>Noche: </span>
      <% movie.screenings.filter{|s| s.schedule == 2}.each_with_index do |s,i| %>
        <%= (i + 1) < movie.screenings.filter{|s| s.schedule == 2}.length ? "SALA #{s.room_id}, " : "SALA #{s.room_id}" %>
      <% end %>
    </p>
  <% end %>
<% end %>
</div>
